    <section class="frontpage__about-us about-us">
        <div class="about-us__wrap">
            <div class="container">
                <h2 class="about-us__heading" data-backtext="Techno fasade">
                    О компании
                </h2>

                <div class="about-us__head">
                    <div class="about-us__subheading">
                        Мы одни из первых производителей декоративных ставень в
                        России
                    </div>
                    <div class="about-us__desc">
                        <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing
                            elit. Aenean commodo ligula eget dolor. Aenean
                            massa. Cum sociis natoque penatibus et magnis dis
                            parturient montes, nascetur ridiculus mus. Donec
                            quam felis, ultricies nec, pellentesque eu, pretium
                            quis, sem.
                        </p>
                        <p>
                            Nulla consequat massa quis enim. Donec pede justo,
                            fringilla vel, aliquet nec, vulputate eget, arcu. In
                            enim justo, rhoncus ut, imperdiet a, venenatis
                            vitae, justo. Nullam dictum felis eu pede mollis
                            pretium. Integer tincidunt.Lorem ipsum dolor sit
                            amet, consectetuer adipiscing
                        </p>
                    </div>
                </div>

                <div class="about-us__our-advantages our-advantages">
                    <ul class="our-advantages__list">
                        <li class="our-advantages__item">
                            <div class="our-advantages__item-title">
                                Собственное производство
                            </div>
                            <div class="our-advantages__item-desc">
                                Lorem ipsum dolor sit amet, consectetuer
                                adipiscing elit. Aenean commodo ligula eget
                                dolor. Aenean massa. Cum sociis natoque
                                penatibus et magnis dis
                            </div>
                        </li>

                        <li class="our-advantages__item">
                            <div class="our-advantages__item-title">
                                Широкая сеть дестрибьютеров
                            </div>
                            <div class="our-advantages__item-desc">
                                Lorem ipsum dolor sit amet, consectetuer
                                adipiscing elit. Aenean commodo ligula eget
                                dolor. Aenean massa. Cum sociis natoque
                                penatibus et magnis dis
                            </div>
                        </li>

                        <li class="our-advantages__item">
                            <div class="our-advantages__item-title">
                                Уникальная технология
                            </div>
                            <div class="our-advantages__item-desc">
                                Lorem ipsum dolor sit amet, consectetuer
                                adipiscing elit. Aenean commodo ligula eget
                                dolor. Aenean massa. Cum sociis natoque
                                penatibus et magnis dis
                            </div>
                        </li>
                    </ul>
                </div>

                <a href="" class="about-us__link"> О компании </a>
            </div>
        </div>
    </section>