<section class="frontpage__advantages advantages">
    <div class="container">
        <div class="advantages__wrap">
            <div class="advantages__heading" data-aos="fade-up">
                <div class="advantages__backtext">
                    Techno Fasade
                </div>
                <h2 class="advantages__heading-content">
                    Мы производим ставни класса Lux, с вниманием к каждой детали
                </h2>
            </div>
            <div class="advantages__subheading" data-aos="fade-up">
                О продукте
            </div>
            <ul class="advantages__list">
                {{#each data.advantages}}
                <li class="advantages__advantage-item advantage-item" data-aos="fade-right"
                    data-aos-delay="{{multiply 100 @index }}">
                    <div class="advantage-item__wrap">
                        {{> picture class="advantage-item__img" src=this.img
                        }}
                        <div class="advantage-item__title">
                            {{this.title}}
                        </div>
                        <div class="advantage-item__desc">
                            {{this.desc}}
                        </div>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</section>