<section class="frontpage__contacts contacts">
    <div class="contacts__wrap">
        <div class="container">
            <div class="contacts__heading" data-aos="fade-up">
                <div class="contacts__backtext">
                    Всегда на связи
                </div>
                <div class="contacts__heading-content">
                    Контакты
                </div>
            </div>

            <div class="contacts__content">
                <div class="contacts__col" data-aos="fade-right">
                    <div class="contacts__subheading">
                        <span>Есть вопросы? </span>Можете задать их нашему менеджеру
                    </div>
                    <div class="contacts__text">
                        Заполните форму обратного звонка и наш специалист
                        свяжется с вами в ближайшее время, остветит на все
                        интересующие вопросы и поможет подобрать оптимальное
                        решение под ваши нужды
                    </div>
                </div>
                <div class="contacts__col" data-aos="fade-left">
                    <form class="contacts__form">
                        {{> ./form/input class="contacts__input input--icon" type="text" id="name" label="Имя"
                        placeholder="Имя" icon="user" }}
                        {{> ./form/input class="contacts__input input--icon" type="tel" id="tel" label="Телефон"
                        placeholder='+7 (***) ***-**-**' icon="tel" }}

                        <button class="contacts__form-link" data-animate-link>
                            Оставить заявку
                        </button>

                        <div class="contacts__form-policy">
                            Нажимая на кнопку «Оставить заявку» вы даете
                            свое согласие на обработку <a href="">персональных данных</a>
                            сайта
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>