<section class="frontpage__news news">
    <div class="news__wrap">
        <div class="container">
            <div class="news__heading" data-aos="fade-up">
                <div class="news__backtext">
                    Интересное
                </div>
                <div class="news__heading-content">
                    Новости
                </div>
            </div>

            <ul class="news__list">
                {{#each (slice data.news 0 3)}}
                <li class="news__news-item news-item" data-aos="fade-right" data-aos-delay="{{multiply 100 @index}}">
                     <a href="" class="news-page__link">{{>picture class="news-item__img" src=this.img }}</a>

                    <a href="" class="news-item__title">{{this.title}}</a>

                    <time datetime="2022-04-04" class="news-item__date"> {{this.date}} </time>
                </li>
                {{/each}}
            </ul>

            <div data-aos="fade-up"><a href="" class="news__link"> Все новости </a></div>
        </div>
    </div>
</section>