<section class="frontpage__testimonials testimonials">
    <div class="testimonials__wrap">
        <div class="container">
            <div class="testimonials__heading" data-aos="fade-up">
                <div class="testimonials__backtext">
                    Наши клиенты
                </div>
                <div class="testimonials__heading-content">
                    Отзывы
                </div>
            </div>

            <div class="testimonials__carousel swiper">
                <ul class="testimonials__carousel-list swiper-wrapper">
                    {{#each data.testimonials}}
                    <li class="testimonials__testimonial-item testimonial-item swiper-slide" data-aos="fade-right"
                        data-aos-delay="{{multiply 100 @index }}">
                        <div class="testimonial-item__wrap">
                            {{> picture class="testimonial-item__img"
                            src=this.img }}

                            <div class="testimonial-item__title">
                                {{this.title}}
                            </div>

                            <div class="testimonial-item__text">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
                                sem.
                            </div>

                            <div class="testimonial-item__foot">
                                <time datetime="2022-04-04" class="testimonial-item__date">
                                    {{this.date}}
                                </time>

                                <a href="/" class="testimonial-item__link">
                                    Читать полностью
                                </a>
                            </div>
                        </div>
                    </li>
                    {{/each}}
                </ul>

                <button class="testimonials__carousel-control testimonials__carousel-control--prev">
                    <svg transform="rotate(180)"  width="48" height="67" viewBox="0 0 48 67" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M33 33.5L0 67L21.5 33.5L0 0L33 33.5Z" fill="#CB9274" />
                        <path d="M48 33.5L23 58L38.5 33.5L23 9L48 33.5Z" fill="#CB9274" />
                    </svg>
                </button>

                <button class="testimonials__carousel-control testimonials__carousel-control--next">
                    <svg width="48" height="67" viewBox="0 0 48 67" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M33 33.5L0 67L21.5 33.5L0 0L33 33.5Z" fill="#CB9274" />
                        <path d="M48 33.5L23 58L38.5 33.5L23 9L48 33.5Z" fill="#CB9274" />
                    </svg>
                </button>
            </div>

            <div data-aos="fade-up">
                <a href="" class="testimonials__link" data-animate-link> Все отзывы </a>
            </div>
        </div>
    </div>
</section>