{
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "maxLength": 120,
    "overrides": [
        {
            "files": "*.hbs",
            "options": {
                "singleQuote": false
            }
        }
    ]
}
