html {
    @include media-breakpoint-down(lg) {
        font-size: 14px;
    }

    @include media-breakpoint-down(md) {
        font-size: 13px;
    }

    @include media-breakpoint-down(sm) {
        font-size: 12px;
    }
}

.locked {
    overflow: hidden;
}

body {
    font-family: Gilroy, sans-serif;
    line-height: rem(30px);
    background: #fffcf8;
    overflow-x: hidden;
}


[data-backtext] {
    position: relative;

    &::before {
        content: attr(data-backtext);
        position: absolute;
        top: -100px;
        left: 0;
        font-family: Gilroy, sans-serif;
        font-size: rem(100px);
        line-height: 1;
        font-weight: 500;
        color: #f5eded;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        z-index: -1;
        text-align: center;
    }
}