h1 {
    font-weight: 600;
    font-size: rem(60px);
    font-family: Cormorant, serif;
    text-transform: uppercase;
    line-height: rem(70px);

    @include media-breakpoint-down(xxl) {
        font-size: rem(48px);
        line-height: normal;
    }

    @include media-breakpoint-down(lg) {
        font-size: rem(32px);
    }

    @include media-breakpoint-down(sm) {
        font-size: rem(42px);
    }

    @media (max-width: 375px) {
        font-size: rem(32px);
    }
}

h2 {
    font-weight: 600;
    font-size: rem(40px);
    font-family: Cormorant, serif;
    line-height: rem(30px);

    @include media-breakpoint-down(sm) {
        font-size: rem(30px);
    }

}

h3 {
    font-weight: 600;
    font-size: rem(28px);
    font-family: Cormorant, serif;
    line-height: rem(30px);
}