<dialog class="modal" id="contact-modal">
    <div class="modal__content">
        <button class="modal__close">
            <svg width="85" height="85" viewBox="0 0 85 85" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M63.6328 21.2031L21.2064 63.6295" stroke="white" stroke-width="4" stroke-linecap="round" />
                <path d="M21.2266 21.2031L63.653 63.6295" stroke="white" stroke-width="4" stroke-linecap="round" />
            </svg>
        </button>

        <div class="modal__body">
            <div class="modal__body-content">
                <div class="modal__modal-form modal-form">
                    <div class="modal-form__wrap">
                        <div class="modal-form__heading">
                            Заполните форму
                        </div>
                        <div class="modal-form__text">
                            Наш специалист свяжется с вами в ближайшее время, остветит на все интересующие вопросы и поможет
                            подобрать оптимальное решение под ваши нужды
                        </div>
                        <form class="modal-form__content">
                            {{> ./form/input class="modal-form__input input--icon" type="text" id="name" label="Имя"
                                placeholder="Имя" icon="user" }}
                            {{> ./form/input class="modal-form__input input--icon" type="tel" id="tel" label="Телефон"
                                placeholder='+7 (***) ***-**-**' icon="tel" }}
                            <button class="modal-form__link">
                                Оставить заявку
                            </button>
                            <div class="modal-form__policy">
                                Нажимая на кнопку «Оставить заявку» вы даете
                                свое согласие на обработку <a href="">персональных данных</a>
                                сайта
                            </div>

                            <input type="hidden" disabled data-configurator-input>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>

<dialog class="modal" id="success-modal">
    <div class="modal__content">
        <button class="modal__close">
            <svg width="85" height="85" viewBox="0 0 85 85" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M63.6328 21.2031L21.2064 63.6295" stroke="white" stroke-width="4" stroke-linecap="round" />
                <path d="M21.2266 21.2031L63.653 63.6295" stroke="white" stroke-width="4" stroke-linecap="round" />
            </svg>
        </button>

        <div class="modal__body">
            <div class="modal__body-content">
                <div class="modal__modal-notice modal-notice">
                    <div class="modal-notice__backtext">
                        Заявка отправлена
                    </div>
                    <div class="modal-notice__heading">
                        Спасибо!
                    </div>
                    <div class="modal-notice__text">
                        Мы получили вашу заявку, в ближайшее время с Вами свяжется наш менеджер, ответит на все интересующие
                        вопросы и поможет подобрать оптимальное решение под ваши задачи
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>

<div class="top-btn">
    <button class="top-btn__toggle">
        <svg width="38" height="29" viewBox="0 0 38 29" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19 9.39551L38 28.1119L19 15.9179L8.18121e-07 28.1119L19 9.39551Z" fill="black" />
            <path d="M19.001 0.888061L32.8965 15.0672L19.001 6.27612L5.10547 15.0672L19.001 0.888061Z" fill="black" />
        </svg>
    </button>
</div>

<div class="messengers">
    <div class="messengers__wrap">
        <button class="messengers__toggle">
            <span class="messengers__toggle-icon"></span>
        </button>

        <ul class="messengers__list">
            <li class="messengers__item">
                <a href="" target="_blank" rel="nofollow" class="messengers__item-link">
                    <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g opacity="0.5">
                            <path class="circle"
                                d="M25.3689 49.7799C38.8534 49.7799 49.7847 38.6002 49.7847 24.8092C49.7847 11.0183 38.8534 -0.161438 25.3689 -0.161438C11.8844 -0.161438 0.953125 11.0183 0.953125 24.8092C0.953125 38.6002 11.8844 49.7799 25.3689 49.7799Z"
                                fill="#02A1E0" />
                            <path class="icon"
                                d="M8.56791 22.5837L36.4216 11.6002C37.7144 11.1225 38.8435 11.9227 38.4246 13.922L38.427 13.9195L33.6844 36.7704C33.3329 38.3905 32.3916 38.7845 31.0748 38.0212L23.8525 32.5774L20.369 36.0096C19.9838 36.4036 19.6588 36.736 18.9125 36.736L19.4253 29.2191L32.8105 16.8519C33.3931 16.3275 32.6805 16.032 31.9125 16.554L15.3712 27.2051L8.2405 24.9301C6.69253 24.4278 6.65883 23.347 8.56791 22.5837Z"
                                fill="white" />
                        </g>
                    </svg>
                </a>
            </li>
            <li class="messengers__item">
                <a href="" target="_blank" rel="nofollow" class="messengers__item-link">
                    <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g opacity="0.5">
                            <path class="circle"
                                d="M11.0416 45.625L11.9791 46.1458C15.8333 48.5416 20.3125 50 25 50C38.6458 50 50 38.6458 50 24.7916C50 10.9374 38.6458 0 24.8958 0C11.1458 0 0 11.0416 0 24.7916C0 29.5833 1.35418 34.2708 3.85416 38.2291L4.47921 39.1666L2.08343 47.9167L11.0416 45.625Z"
                                fill="#2CB742" />
                            <path class="icon"
                                d="M16.8637 10.7516L14.881 10.6467C14.2549 10.6467 13.6288 10.8564 13.2114 11.2756C12.2722 12.114 10.707 13.6859 10.2896 15.782C9.55919 18.926 10.707 22.6987 13.4202 26.4714C16.1334 30.2441 21.351 36.3225 30.5338 38.9424C33.4556 39.7808 35.7514 39.2568 37.6298 38.1041C39.0908 37.1609 40.0298 35.6937 40.343 34.1217L40.656 32.6545C40.7604 32.2353 40.5516 31.7112 40.1342 31.5017L33.56 28.4625C33.1426 28.2529 32.6208 28.3577 32.3078 28.7769L29.699 32.1304C29.4903 32.3401 29.1772 32.4448 28.8642 32.3401C27.0902 31.7112 21.1422 29.1961 17.9072 22.9082C17.8029 22.5939 17.8029 22.2794 18.0116 22.0698L20.516 19.2403C20.7248 18.926 20.8291 18.5068 20.7248 18.1923L17.6986 11.3804C17.5941 11.0659 17.2811 10.7516 16.8637 10.7516Z"
                                fill="white" />
                        </g>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</div>

<footer class='footer'>
    <div class="footer__wrap">

        <div class="footer__topbar">
            <div class="container">
                <div class="footer__topbar-wrap">
                    <div class="footer__col">
                        <a href="" class="footer__logo">
                            {{>picture src="logo.png" }}
                        </a>

                        <div class="footer__logo-title">
                            Декоративные ставни и комплектующее для окон
                        </div>
                    </div>

                    <div class="footer__col">
                        <div class="footer__footer-menu footer-menu">
                            <ul class="footer-menu__list">
                                {{#each data.footer_menu }}
                                    <li class="footer-menu__item">
                                        <a href="" class="footer-menu__link">
                                            {{this.label}}
                                        </a>
                                    </li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>

                    <div class="footer__col">
                        <div class="footer__footer-menu footer-menu">
                            <ul class="footer-menu__list">
                                {{#each data.footer_menu2 }}
                                    <li class="footer-menu__item">
                                        <a href="" class="footer-menu__link">
                                            {{this.label}}
                                        </a>

                                        <ul class="footer-menu__sublist">
                                            {{#each this.submenu }}
                                                <li class="footer-menu__subitem">
                                                    <a href="" class="footer-menu__sublink">
                                                        {{this.label}}
                                                    </a>
                                                </li>
                                            {{/each}}
                                        </ul>
                                    </li>
                                {{/each}}
                            </ul>

                        </div>
                    </div>

                    <div class="footer__col">
                        <div class="footer__contacts">
                            <a href="" class="footer__tel">
                                +7 (999) 999 99 99
                            </a>
                            <a href="" class="footer__email">
                                technofasade@mail.ru
                            </a>
                            <div class="footer__address">
                                г. Москва, Ново-Совхозная улица, 3
                            </div>
                            <div class="footer__worktime">
                                Пн. - Пт. 9:00-20:00
                            </div>
                            <a href="" class="footer__contact-link" data-modal="success-modal">
                                Оставить заявку
                            </a>
                        </div>
                    </div>


                </div>

            </div>
        </div>


        <div class="footer__bottombar">
            <div class="container">
                <div class="footer__bottombar-wrap">
                    <div class="footer__copyright">
                        ©2022 Techno Fasade, декоративные ставни
                    </div>

                    <div class="footer__links">
                        <a href="" class="footer__link">
                            Политика конфиденциальности
                        </a>
                    </div>

                    {{> socials class="footer__socials" }}
                </div>
            </div>
        </div>
    </div>
</footer>

</body>

</html>