<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {{ title }}
    </title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:wght@600;700&display=swap" rel="stylesheet">
</head>

<body>
    <header class="header">
        <div class="header__wrap">
            <button class="header__toggler">
                <span class="header__toggler-icon">
                    <span></span><span></span><span></span>
                </span>
                <span class="header__toggler-text">Меню</span>
            </button>

            <a href="" class="header__catalogue-link">
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M0 10.2414H3.7931V11H0V10.2414ZM0 11.7586H3.7931V12.5172H0V11.7586ZM0 8.72414H3.7931V9.48276H0V8.72414ZM0 17.8276H3.7931V18.9655H0V17.8276ZM0 16.3103H3.7931V17.069H0V16.3103ZM0 14.7931H3.7931V15.5517H0V14.7931ZM0 13.2759H3.7931V14.0345H0V13.2759ZM0 0.758621H3.7931V1.89655H0V0.758621ZM17.4483 0H4.55172V20.4828H17.4483V0ZM5.68966 1.13793H10.6207V4.17241H5.68966V1.13793ZM5.68966 4.93103H10.6207V7.96552H5.68966V4.93103ZM5.68966 8.72414H10.6207V11.7586H5.68966V8.72414ZM5.68966 12.5172H10.6207V15.5517H5.68966V12.5172ZM5.68966 19.3448V16.3103H10.6207V19.3448H5.68966ZM16.3103 19.3448H11.3793V16.3103H16.3103V19.3448ZM16.3103 15.5517H11.3793V12.5172H16.3103V15.5517ZM16.3103 11.7586H11.3793V8.72414H16.3103V11.7586ZM16.3103 7.96552H11.3793V4.93103H16.3103V7.96552ZM16.3103 4.17241H11.3793V1.13793H16.3103V4.17241ZM0 2.65517H3.7931V3.41379H0V2.65517ZM0 7.2069H3.7931V7.96552H0V7.2069ZM0 5.68966H3.7931V6.44828H0V5.68966ZM0 4.17241H3.7931V4.93103H0V4.17241ZM18.2069 10.2414H22V11H18.2069V10.2414ZM18.2069 8.72414H22V9.48276H18.2069V8.72414ZM18.2069 2.65517H22V3.41379H18.2069V2.65517ZM18.2069 5.68966H22V6.44828H18.2069V5.68966ZM18.2069 4.17241H22V4.93103H18.2069V4.17241ZM18.2069 0.758621H22V1.89655H18.2069V0.758621ZM3.03448 21.2414H18.9655V22H3.03448V21.2414ZM18.2069 7.2069H22V7.96552H18.2069V7.2069ZM18.2069 14.7931H22V15.5517H18.2069V14.7931ZM18.2069 16.3103H22V17.069H18.2069V16.3103ZM18.2069 17.8276H22V18.9655H18.2069V17.8276ZM18.2069 13.2759H22V14.0345H18.2069V13.2759ZM18.2069 11.7586H22V12.5172H18.2069V11.7586Z"
                        fill="#A77B50" />
                </svg>

                Продукция
            </a>

            <a href="" class="header__logo">
                {{> picture src="logo.png" }}
            </a>

            {{> socials class="header__socials" }}

            <a href="" class="header__tel">
                +7 (499) <span>999-99-99</span>
            </a>
        </div>

        <nav class="header__header-menu header-menu">
            <div class="header-menu__wrap">
                <div class="header-menu__col">
                    <ul class="header-menu__list">
                        <li class="header-menu__item">
                            <a href="" class="header-menu__link"><span>01</span> Главная</a>
                        </li>
                        <li class="header-menu__item">
                            <a href="" class="header-menu__link"><span>02</span> Продукция</a>
                        </li>
                        <li class="header-menu__item">
                            <a href="" class="header-menu__link"><span>03</span> Монтаж</a>
                        </li>
                        <li class="header-menu__item">
                            <a href="" class="header-menu__link"><span>04</span> Примеры работ</a>
                        </li>
                        <li class="header-menu__item">
                            <a href="" class="header-menu__link"><span>05</span> Контакты</a>
                        </li>
                    </ul>
                </div>
                <div class="header-menu__col">
                    <ul class="header-menu__list">
                        <li class="header-menu__item">
                            <a href="" class="header-menu__link"><span>06</span> Сотрудничество</a>
                        </li>
                        <li class="header-menu__item">
                            <a href="" class="header-menu__link"><span>07</span> О компании</a>
                            <ul class="header-menu__sub-list">
                                <li class="header-menu__sub-item">
                                    <a href="" class="header-menu__sub-link">
                                        Отзывы
                                    </a>
                                </li>
                                <li class="header-menu__sub-item">
                                    <a href="" class="header-menu__sub-link">
                                        Сертификаты и документация
                                    </a>
                                </li>
                                <li class="header-menu__sub-item">
                                    <a href="" class="header-menu__sub-link">
                                        Статьи
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="header-menu__contacts">
                    <a href="" class="header-menu__tel">
                        +7 (999) 999 99 99
                    </a>
                    <a href="" class="header-menu__email">
                        technofasade@mail.ru
                    </a>
                    {{> socials class="header-menu__socials"}}
                    <div class="header-menu__address">
                        г. Москва, Ново-Совхозная улица, 3
                        <div>Пн. - Пт.  9:00-20:00</div>
                    </div>
                </div>
            </div>
        </nav>
    </header>