
.product-item {
    &__wrap {
        background-color: #fff;
        padding-top: rem(100px);
        padding-bottom: rem(120px);


        @include media-breakpoint-down(lg) {
            padding: rem(64px 0);
        }

        @include media-breakpoint-down(md) {
            padding: rem(32px 0);
        }
    }

    &__head {
        display: grid;
        align-items: flex-start;
        grid-template-columns: auto 520px;
        gap: rem(64px);
        margin-bottom: rem(80px);

        @include media-breakpoint-down(md) {
            grid-template-columns: 1fr;
            gap: rem(32px);
            text-align: center;
            margin: auto;
            margin-bottom: rem(32px);
            max-width: 300px;
        }
    }

    &__title {
        @extend h1;

        text-decoration: none;
        text-transform: none;
        line-height: 1;
        width: fit-content;

        @include media-breakpoint-down(lg) {
            margin: auto;
        }

        @include media-breakpoint-down(sm) {
            display: flex;
            align-items: center;
            gap: rem(12px);
        }

        &:hover {
            span {
                text-decoration: none;
                transition: 350ms;
            }
        }

        span {
            display: flex;
            align-items: center;
            gap: rem(15px);
            color: $main;
            font-weight: 700;
            text-transform: uppercase;
            text-decoration: underline;
            transition: 350ms;

            @include media-breakpoint-down(lg) {
                margin-top: rem(12px);
            }
            
            @include media-breakpoint-down(sm) {
                margin-top: 0;
            }

            &::after {
                content: '';
                background-image: url("data:image/svg+xml,%3Csvg width='25' height='30' viewBox='0 0 25 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 15L0 30L8.25 15L0 0L15 15Z' fill='%23CB9274'/%3E%3Cpath d='M24.6445 15L9.64453 30L17.8945 15L9.64453 0L24.6445 15Z' fill='%23CB9274'/%3E%3C/svg%3E%0A");
                width: 40px;
                height: 40px;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                display: block;

                @include media-breakpoint-down(lg) {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }

    &__carousel {
        overflow: visible;

        @include media-breakpoint-down(lg) {
            width: calc(100% + 24px);
            left: rem(-12px);
            overflow: hidden;
        }

        &-wrap {
            @include unlist();
        }

        &-item {
            position: relative;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(
                    180deg,
                    transparent 47.33%,
                    rgba(14 13 13 / 38%) 76.65%,
                    rgba(0 0 0 / 40%) 100%
                );
            }

            img {
                width: 100%;
                height: 660px;
                object-fit: cover;

                @include media-breakpoint-down(lg) {
                    height: 400px;
                }

                @include media-breakpoint-down(md) {
                    height: 250px;
                }
            }
        }

        &-controls {
            @extend %carousel-controls-wrap;
        }

        &-control {
            @extend %carousel-control;
        }
    }

    &__img {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(
                180deg,
                transparent 47.33%,
                rgba(14 13 13 / 38%) 76.65%,
                rgba(0 0 0 / 40%) 100%
            );
        }

        picture {
            display: block;
            height: 470px;


            @include media-breakpoint-down(lg) {
                height: 300px;
            }

            @include media-breakpoint-down(md) {
                height: 200px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover
            }
            
        }
    }

    &__carousel-counter {
        @extend %carousel-counter;
    }

    &__product-features {
        padding-top: rem(52px);
    }

    &__link {
        @extend %main-link;

        margin-top: rem(80px);
        font-size: rem(20px);

        @include media-breakpoint-down(md) {
            font-size: rem(16px);
            margin-top: rem(40px);
            width: 100%;
        }

        &::after {
            width: 30px;
            height: 30px;

            @include media-breakpoint-down(lg) {
                width: 20px;
                height: 20px;
            }
        }
    }


    &--simple {
        .product-item {
            &__wrap {
                padding: 0;
                background-color: transparent;
            }

            &__head {
                margin-bottom: rem(46px);
            }

            &__title {
                font-size: rem(50px);

                @include media-breakpoint-down(md) {
                    font-size: rem(32px);
                }

                @include media-breakpoint-down(sm) {
                    font-size: rem(24px);
                }
            }

            &__link {
                font-size: rem(16px);
                margin-top: rem(45px);
                margin-left: 0;
                justify-content: flex-start;

                @include media-breakpoint-down(md) {
                    justify-content: center;
                }

                &:hover {
                    width: 100%;
                }
            }
        }
    }
}

.product-features {
    &__heading {
        font-size: rem(40px);
        font-family: Cormorant, serif;
        margin-bottom: rem(32px);
    }

    &__list {
        @include unlist();

        display: grid;
        gap: rem(32px);

        @include media-breakpoint-down(lg) {
            gap: rem(16px);
        }
    }
}

.feature-item {
    &__toggle {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        gap: rem(40px);
        align-items: center;
        border-bottom: 1px solid #ddd;
        font-size: rem(24px);
        padding: rem(16px 0);
        text-align: left;
        color: #000;

        @include media-breakpoint-down(lg) {
            grid-template-columns: 1fr;
            font-size: rem(20px);
        }
    }

    &__title {
        position: relative;
        padding-left: rem(42px);

        &::before {
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg width='30' height='16' viewBox='0 0 30 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.4' d='M15 16L6.99382e-07 -1.31134e-06L15 11.08L30 0L15 16Z' fill='%23CB9274'/%3E%3Cpath d='M15 8L5 1L15 5L25 1L15 8Z' fill='%23CB9274'/%3E%3C/svg%3E%0A");
            width: 30px;
            height: 30px;
            position: absolute;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            transition: 350ms;

            @include media-breakpoint-down(lg) {
                width: 20px;
                height: 20px;
            }
        }
    }

    &__values {
        font-weight: 600;
        display: flex;
        flex-wrap: wrap;
        gap: rem(8px);

        @include media-breakpoint-down(lg) {
            display: none;
        }
    }

    &__value-item {
        display: flex;
        align-items: center;
        gap: rem(8px);

        &:not(:last-of-type) {
            &::after {
                content: '/';
            }
        }
    }

    &__color {
        width: 24px;
        height: 24px;
        transform: rotate(45deg);

        @include media-breakpoint-down(xxl) {
            width: 18px;
            height: 18px;
        }
    }

    &__notice {
        color: $main;
        margin-left: rem(24px);

        @include media-breakpoint-down(lg) {
            text-align: right;
        }

        @media (max-width: 400px) {
            display: block;
        }
    }

    &__content {
        display: none;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: rem(30px 0);
        gap: rem(40px);

        @include media-breakpoint-down(lg) {
            grid-template-columns: 1fr 1fr;
        }

        @include media-breakpoint-down(md) {
            gap: rem(20px);
        }

        &--2 {
            .feature-item__content-item:nth-of-type(2) {
                grid-column: 3 / 3;

                @include media-breakpoint-down(lg) {
                    grid-column: auto;
                }
            }
        }
    }

    &__content-item {
        margin-bottom: 0;

        &-img {
            width: 100%;
            height: 310px;
            margin-bottom: rem(10px);
            display: block;

            @include media-breakpoint-down(lg) {
                height: 200px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &--active {
        .feature-item__title {
            &::before {
                transform: rotate(180deg);
                transition: 350ms;
            }
        }

        .feature-item__content {
            display: grid;
        }
    }
}