.socials {
    &__list {
        @include unlist();

        display: flex;
        align-items: center;
        gap: rem(14px);
    }

    &__link {
        opacity: 0.6;
        transition: 350ms;
        
        &:hover {
            opacity: 1;
            transition: 350ms;
        }

        @include media-breakpoint-down(sm) {
            img {
                height: 30px;
                display: block;
            }
        }
    }
}
