.testimonial-item {
    &__wrap {
        background: #fff;
        padding: rem(30px 46px);
        box-shadow: 0 8px 40px rgba(0 0 0 / 3%);
        border-radius: 25px;
        position: relative;

        &::after {
            content: '“';
            font-family: Cormorant, sans-serif;
            position: absolute;
            right: 40px;
            top: 40px;
            font-size: rem(170px);
            color: $main;
            font-weight: 600;
            transform: rotate(180deg);
        }

        @include media-breakpoint-down(lg) {
            padding: rem(24px);
        }
    }

    &__user-img {
        width: rem(120px);
        height: rem(120px);
        display: block;
        margin-top: rem(-60px);
        margin-bottom: rem(32px);

        @include media-breakpoint-down(lg) {
            width: rem(80px);
            height: rem(80px);
            margin-top: rem(-40px);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    &__title {
        font-size: rem(24px);
        font-weight: 600;
        margin-bottom: rem(8px);
    }

    &__job {
        font-weight: 500;
        font-size: rem(14px);
        color: #b8b8b8;
    }

    &__body {
        margin-bottom: rem(22px);
        margin-top: rem(24px);
    }

    &__video {
        height: 385px;
        width: auto;
        margin: rem(0 -46px);

        @include media-breakpoint-down(lg) {
            margin: rem(0 -24px);
        }

        iframe,
        video {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__img {
        height: 360px;
        width: fit-content;
        margin: auto;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__foot {
        display: flex;
        align-items: center;
    }

    &__date {
        color: #b8b8b8;
        font-weight: 500;
    }

    &__link {
        color: $main;
        margin-left: auto;
    }
}