 .about-us {
    &__wrap {
        padding: rem(160px 0);
        position: relative;
        border-bottom: 1px solid #DDD;

        &::after {
            @extend %bordersymbol;
        }
    }

    &__heading {
        margin-bottom: rem(120px);
        text-align: center;

        &::before {
            width: 70%;
            margin: auto;
            top: -50px;
            right: 0;
        }
    }

    &__head {
        display: grid;
        grid-template-columns: auto 500px;
        gap: rem(80px);
        margin-bottom: rem(76px);
    }

    &__subheading {
        @extend h1;
    }

    &__link {
        @extend %main-link;

        width: 170px;
        margin-top: rem(80px);
    }
 }

.our-advantages {
    &__list {
        @include unlist();

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }

    &__item {
        padding: rem(68px 74px);
        position: relative;

        &-title {
            font-size: rem(36px);
            font-family: Cormorant, sans-serif;
            font-weight: 700;
            margin-bottom: rem(24px);
        }

        &::before, &::after {
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='3.53553' y='12.6797' width='11.5219' height='11.5219' transform='rotate(-45 3.53553 12.6797)' stroke='%23DDD' stroke-width='5'/%3E%3C/svg%3E%0A");
            width: 60px;
            height: 60px;
            background-size: 25px 25px;
            background-repeat: no-repeat;
            background-position: center;
            background-color: $bodybg;
            position: absolute;
            z-index: 10;
        }

        &:nth-of-type(1) {    
            &::before {
                content: '';
                right: -30px;
                top: -30px;
            }
    
            &::after {
                content: '';
                right: -30px;
                bottom: -30px;
            }
        }

        &:nth-of-type(2) {
            border-left:  1px solid #ddd;
            border-right:  1px solid #ddd;
        }

        &:nth-of-type(3) {    
            &::before {
                content: '';
                left: -30px;
                top: -30px;
            }
    
            &::after {
                content: '';
                left: -30px;
                bottom: -30px;
            }
        }
    }
}