.about-us {
    &__wrap {
        padding: rem(160px 0);
        position: relative;
        border-bottom: 1px solid #ddd;

        @include media-breakpoint-down(md) {
            padding: rem(80px 0);
        }

        @include media-breakpoint-down(sm) {
            padding-top: rem(160px);
        }

        &::after {
            @extend %bordersymbol;
        }
    }

    &__backtext {
        @extend %backtext;

        top: -50px;
        right: 0;
        max-width: 1100px;
        margin: auto;

        @include media-breakpoint-down(lg) {
            top: -30px;
        }

        @include media-breakpoint-down(sm) {
            top: -20px;
        }
    }

    &__heading {
        position: relative;

        &-content {
            text-align: center;
            margin-top: rem(-40px);
            margin-bottom: rem(120px);
            font-family: AlistairSignature, sans-serif;
            font-size: rem(80px);
            color: $main;
            line-height: 1;

            @include media-breakpoint-down(lg) {
                margin-bottom: rem(80px);
            }

            @include media-breakpoint-down(sm) {
                font-size: 40px;
                margin-bottom: 64px;
            }
        }
    }

    &__head {
        display: grid;
        grid-template-columns: auto 500px;
        gap: rem(80px);
        margin-bottom: rem(76px);

        @include media-breakpoint-down(lg) {
            grid-template-columns: 1fr;
            gap: rem(32px);
            text-align: center;
            margin: auto;
            margin-bottom: rem(32px);
        }

        @include media-breakpoint-down(md) {
            max-width: 300px;
        }
    }

    &__subheading {
        @extend h1;

        @include media-breakpoint-down(lg) {
            max-width: 500px;
            margin: auto;
        }
    }

    &__desc {
        max-width: 658px;

        @include media-breakpoint-down(lg) {
            margin: auto;
        }
    }

    &__link {
        @extend %main-link;

        margin-top: rem(80px);

        @include media-breakpoint-down(md) {
            width: 100%;
            margin-top: rem(40px);
        }
    }
}

.our-advantages {
    &__list {
        @include unlist();

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;

        @include media-breakpoint-down(lg) {
            grid-template-columns: 1fr;
            border: none;
        }
    }

    &__item {
        padding: rem(68px 74px);
        position: relative;

        @include media-breakpoint-down(lg) {
            padding: rem(48px 32px);
            border: none;
            border-top: 1px solid #ddd;
        }

        &-title {
            font-size: rem(36px);
            font-family: Cormorant, sans-serif;
            font-weight: 700;
            margin-bottom: rem(24px);
        }

        &::before,
        &::after {
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='3.53553' y='12.6797' width='11.5219' height='11.5219' transform='rotate(-45 3.53553 12.6797)' stroke='%23DDD' stroke-width='5'/%3E%3C/svg%3E%0A");
            width: 60px;
            height: 60px;
            background-size: 25px 25px;
            background-repeat: no-repeat;
            background-position: center;
            background-color: $bodybg;
            position: absolute;
            z-index: 10;

            @include media-breakpoint-down(lg) {
                display: none;
            }
        }

        &:nth-of-type(1) {
            &::before {
                content: '';
                right: -30px;
                top: -30px;
            }

            &::after {
                content: '';
                right: -30px;
                bottom: -30px;
            }
        }

        &:nth-of-type(2) {
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;

            @include media-breakpoint-down(lg) {
                border-left: none;
                border-right: none;
            }
        }

        &:nth-of-type(3) {
            &::before {
                content: '';
                left: -30px;
                top: -30px;
            }

            &::after {
                content: '';
                left: -30px;
                bottom: -30px;
            }
        }
    }
}
