.news {
    &__wrap {
        padding: rem(160px 0);
        border-bottom: 1px solid #ddd;
        position: relative;

        @include media-breakpoint-down(md) {
            padding: rem(80px 0);
        }

        &::after {
            @extend %bordersymbol;
        }
    }

    &__backtext {
        @extend %backtext;

        top: -50px;
        right: 0;
        max-width: 1100px;
        margin: auto;

        @include media-breakpoint-down(lg) {
            top: -30px;
        }
    }

    &__heading {
        position: relative;

        &-content {
            text-align: center;
            margin-top: rem(-40px);
            margin-bottom: rem(120px);
            font-family: AlistairSignature, sans-serif;
            font-size: rem(80px);
            color: $main;
            line-height: 1;

            @include media-breakpoint-down(lg) {
                margin-bottom: rem(80px);
            }

            @include media-breakpoint-down(sm) {
                font-size: rem(64px);
            }
        }
    }

    &__list {
        @include unlist();

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: rem(84px);

        @include media-breakpoint-down(lg) {
            grid-template-columns: 1fr;
            gap: rem(48px);
        }
    }

    &__link {
        @extend %main-link;

        margin-top: rem(80px);

        @include media-breakpoint-down(lg) {
            margin-top: rem(40px);
            width: 100%;
        }
    }
}


