.products {
    &__wrap {
        padding-top: rem(150px);
        padding-bottom: rem(80px);

        @include media-breakpoint-down(md) {
            padding: rem(80px 0);
        }
    }

    &__backtext {
        @extend %backtext;

        top: -60px;
    }

    &__heading {
        position: relative;

        &-content {
            text-align: center;
            margin-top: rem(-40px);
            margin-bottom: rem(120px);
            font-family: AlistairSignature, sans-serif;
            font-size: rem(80px);
            color: $main;
            line-height: 1;

            @include media-breakpoint-down(lg) {
                margin-bottom: rem(80px)
            }

            @include media-breakpoint-down(sm) {
                font-size: rem(64px);
            }
        }
    }

    &__list {
        @include unlist();

        display: grid;
        gap: rem(200px);

        @include media-breakpoint-down(lg) {
            gap: rem(32px);
        }
    }

    &__product-item {
        min-width: 1px;
    }
}

