.testimonials {
    &__wrap {
        padding-top: rem(160px);
        padding-bottom: rem(160px);
        position: relative;
        border-bottom: 1px solid #DDD;

        @include media-breakpoint-down(lg) {
            padding: rem(80px 0);
        }
        
        &::after {
            @extend %bordersymbol;
        }
    }

    &__heading {
        margin-bottom: rem(160px);
        text-align: center;

        @include media-breakpoint-down(lg) {
            margin-bottom: rem(64px);
        }

        &::before {
            width: 70%;
            margin: auto;
            top: -60px;
            right: 0;
        }
    }

    &__carousel {
        overflow: visible;

        &-list {
            @include unlist();
        }

        &-controls {
            @extend %carousel-controls-wrap;
        }

        &-control {
            @extend %carousel-control;

            background-color: #fff;
            border-radius: 50%;
            box-shadow: 0 6px 30px rgba(0 0 0 / 6%);
            width: 116px;
            height: 116px;
        }
    }

    &__link {
        @extend %main-link;

        width: 160px;
        margin-top: rem(80px);

        @include media-breakpoint-down(md) {
            width: 100%;
            margin-top: rem(40px);
        }
    }
}

.testimonial-item {
    &__wrap {
        background: #fff;
        padding: rem(30px 46px);
        box-shadow: 0 8px 40px rgba(0 0 0 / 3%);
        border-radius: 25px;

        @include media-breakpoint-down(lg) {
            padding: rem(24px);
        }
    }

    &__img {
        width: rem(120px);
        height: rem(120px);
        display: block;
        margin-top: rem(-60px);
        margin-bottom: rem(32px);

        @include media-breakpoint-down(lg) {
            width: rem(80px);
            height: rem(80px);
            margin-top: rem(-40px);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    &__title {
        font-size: rem(24px);
        font-weight: 600;
        margin-bottom: rem(8px);
    }

    &__text {
        margin-bottom: rem(22px);   
    }

    &__foot {
        display: flex;
        align-items: center;
    }

    &__date {
        color: #B8B8B8;
        font-weight: 500;
    }

    &__link {
        color: $main;
        margin-left: auto;
    }
}