.testimonials {
    &__wrap {
        padding: rem(160px 0);
        position: relative;
        border-bottom: 1px solid #DDD;

        @include media-breakpoint-down(md) {
            padding: rem(80px 0);
        }
        
        &::after {
            @extend %bordersymbol;
        }
    }


    &__backtext {
        @extend %backtext;

        top: -50px;
        right: 0;
        max-width: 1100px;
        margin: auto;

        @include media-breakpoint-down(lg) {
            top: -30px;
        }
    }

    &__heading {
        position: relative;

        &-content {
            text-align: center;
            margin-top: rem(-40px);
            margin-bottom: rem(150px);
            font-family: AlistairSignature, sans-serif;
            font-size: rem(80px);
            color: $main;
            line-height: 1;

            @include media-breakpoint-down(lg) {
                margin-bottom: rem(100px);
            }

            @include media-breakpoint-down(sm) {
                font-size: rem(64px);
            }
        }
    }


    &__carousel {
        overflow: visible;

        @include media-breakpoint-down(xxl) {
            padding: 0 50px;
        }

        &-list {
            @include unlist();
        }

        &-control {
            @extend %carousel-control;

            background-color: #fff;
            border-radius: 50%;
            box-shadow: 0 6px 30px rgba(0 0 0 / 6%);
            width: rem(95px);
            height: rem(95px);
            top: 0;
            bottom: 0;
            margin: auto;
            opacity: 1;
            z-index: 50;
            transition: 350ms;

            @include media-breakpoint-down(lg) {
                display: none;
            }

            svg {
                max-width: 60%;
                max-height: 60%;

                path {
                    transition: 350ms;
                }
            }

            &:hover {
                background-color: $main;
                transition: 350ms;
                
                svg path {
                    fill: #fff;
                    transition: 350ms;
                }
            }

            &--prev {
                left: rem(-45px);

                @include media-breakpoint-down(xxl) {
                    left: 0;
                }
            }

            &--next {
                right: rem(-45px);

                @include media-breakpoint-down(xxl) {
                    right: 0;
                }
            }
        }
    }

    &__link {
        @extend %main-link;

        margin-top: rem(80px);

        @include media-breakpoint-down(md) {
            width: 100%;
            margin-top: rem(40px);
        }
    }
}

.testimonial-item {
    &__wrap {
        background: #fff;
        padding: rem(30px 46px);
        box-shadow: 0 8px 40px rgba(0 0 0 / 3%);
        border-radius: 25px;

        @include media-breakpoint-down(lg) {
            padding: rem(24px);
        }
    }

    &__img {
        width: rem(120px);
        height: rem(120px);
        display: block;
        margin-top: rem(-60px);
        margin-bottom: rem(32px);

        @include media-breakpoint-down(lg) {
            width: rem(80px);
            height: rem(80px);
            margin-top: rem(-40px);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    &__title {
        font-size: rem(24px);
        font-weight: 600;
        margin-bottom: rem(8px);
    }

    &__text {
        margin-bottom: rem(22px);   
    }

    &__foot {
        display: flex;
        align-items: center;
    }

    &__date {
        color: #B8B8B8;
        font-weight: 500;
    }

    &__link {
        color: $main;
        margin-left: auto;
    }
}