<nav class="{{class}} pagination">
    <ul class="pagination__list">
        <li class="pagination__item">
            <a href="" class="pagination__link pagination__link--active">1</a>
        </li>
        <li class="pagination__item">
            <a href="" class="pagination__link">2</a>
        </li>
        <li class="pagination__item">
            <a href="" class="pagination__link">3</a>
        </li>
        <li class="pagination__item">
            <a href="" class="pagination__link">4</a>
        </li>
        <li class="pagination__item">
            <a href="" class="pagination__link">5</a>
        </li>
        <li class="pagination__item">
            <a href="" class="pagination__link">6</a>
        </li>
        <li class="pagination__item">
            <a href="" class="pagination__link">7</a>
        </li>
        <li class="pagination__item">
            <a href="" class="pagination__link">8</a>
        </li>
        <li class="pagination__item">
            <a href="" class="pagination__link">9</a>
        </li>
        <li class="pagination__item">
            <a href="" class="pagination__link">10</a>
        </li>
        <li class="pagination__item">
            ...
        </li>
        <li class="pagination__item">
            <a href="" class="pagination__link pagination__link--text">
                Дальше
                <svg
                    width="15"
                    height="18"
                    viewBox="0 0 15 18"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M9 9L9.53674e-07 18L4.95 9L9.53674e-07 0L9 9Z"
                        fill="#CB9274"
                    />
                    <path d="M15 9L6 18L10.95 9L6 0L15 9Z" fill="#CB9274" />
                </svg>
            </a>
        </li>
    </ul>
</nav>