.testimonials-page {
    &__wrap {
        padding-bottom: rem(170px);

        @include media-breakpoint-down(md) {
            padding-bottom: rem(80px);
        }
    }

    &__heading {
        margin-bottom: rem(100px);

        @include media-breakpoint-down(lg) {
            margin-bottom: rem(42px);
        }
    }

    &__list {
        @include unlist();

        gap: rem(40px);
        columns: 2;

        @include media-breakpoint-down(lg) {
            columns: 1;
            gap: rem(60px);
        }
    }

    &__testimonial-item {
        margin-bottom: rem(100px);
        break-inside: avoid;

        @include media-breakpoint-down(lg) {
            margin-bottom: rem(40px)
        }
    }

    &__load-more {
        @extend %load-more;
        
        margin: auto;
        margin-top: rem(100px);
    }

    &__pagination {
        width: fit-content;
        margin: auto;
        margin-top: rem(60px);
    }
}