.footer {
    &__topbar {
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding: rem(42px 0);

        @include media-breakpoint-down(lg) {
            padding: rem(24px 0);
        }

        @include media-breakpoint-down(sm) {
            padding: rem(40px 0);
        }

        &-wrap {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;

            @include media-breakpoint-down(lg) {
                grid-template-columns: 1fr 1fr 1fr;
                gap: rem(64px 32px);
            }

            @include media-breakpoint-down(md) {
                grid-template-columns: 1fr;
                text-align: center;
            }

            @include media-breakpoint-down(sm) {
                gap: 60px;
            }
        }
    }

    &__bottombar {
        padding: rem(16px 0);

        @include media-breakpoint-down(sm) {
            padding: 42px 0;
        }

        &-wrap {
            display: flex;
            align-items: center;

            @include media-breakpoint-down(md) {
                flex-direction: column;
                gap: rem(12px);
            }

            @include media-breakpoint-down(md) {
                gap: 36px;
            }
        }
    }

    &__logo {
        display: block;
        margin-bottom: rem(16px);

        @include media-breakpoint-down(lg) {
            img {
                width: 100px;
            }
        }

        @include media-breakpoint-down(sm) {
            margin-bottom: 20px;

            img {
                width: 160px;
            }
        }

        &-title {
            max-width: 170px;
            font-size: rem(14px);
            line-height: 140%;
            color: #989898;

            @include media-breakpoint-down(md) {
                margin: auto;
            }

            @include media-breakpoint-down(sm) {
                font-size: 14px;
            }
        }
    }

    &__col {
        &:nth-of-type(1) {
            @include media-breakpoint-down(lg) {
                grid-column: 1 / 4;
            }
            
            @include media-breakpoint-down(md) {
                grid-column:  auto;
            }
        }

        &:nth-of-type(3) {
            @include media-breakpoint-down(sm) {
                margin-top: -16px;
            }
        }
    }

    &__links {
        margin: auto;

        @include media-breakpoint-down(sm) {
            order: 1;
        }
    }

    &__contacts {
        text-align: right;

        @include media-breakpoint-down(lg) {
            text-align: left;
        }

        @include media-breakpoint-down(sm) {
            text-align: center;
        }
    }

    &__tel {
        color: $main;
        text-decoration: none;
        font-weight: 500;
        display: block;
        font-size: rem(24px);

        @include media-breakpoint-down(sm) {
            font-size: 24px;
            margin-bottom: 8px;
        }
    }

    &__email {
        color: $main;
        display: block;

        @include media-breakpoint-down(sm) {
            font-size: 16px;
            margin-bottom: 8px;
        }
    }

    &__contact-link {
        @extend %main-link;

        margin-top: rem(52px);
        justify-content: flex-end;
        font-size: rem(14px);
        margin-right: 0;

        @include media-breakpoint-down(lg) {
            justify-content: flex-start;
            margin-right: auto;
            margin-left: 0;
        }

        @include media-breakpoint-down(sm) {
            font-size: 14px;
            margin: auto;
            margin-top: 24px;
            justify-content: center;
        }

        &::after {
            height: 22px;
            width: 22px;
        }

        &::before {
            content: none;
        }
    }

    &__address {
        @include media-breakpoint-down(sm) {
            font-size: 16px;
            margin-bottom: 8px;
        }
    }

    &__worktime {
        @include media-breakpoint-down(sm) {
            font-size: 16px;
        }
    }

    &__socials {
        @include media-breakpoint-down(sm) {
            order: 2;
        }
    }

    &__copyright {
        font-size: rem(14px);
        color: #989898;

        @include media-breakpoint-down(sm) {
            font-size: 14px;
            order: 3;
        }
    }

    &__link {
        font-size: rem(14px);
        color: #989898;

        @include media-breakpoint-down(sm) {
            font-size: 14px;
        }
    }

    &__footer-menu {
        @include media-breakpoint-down(sm) {
            margin-top: -34px;
        }
    }
}

.footer-menu {
    &__list {
        @include unlist();

        display: grid;
        gap: rem(8px);

        @include media-breakpoint-down(sm) {
            gap: 10px;
        }
    }

    &__link,
    &__sublink {
        font-weight: 500;
        color: #7e7e7e;
        text-decoration: none;

        @include media-breakpoint-down(sm) {
            font-size: 20px;
        }
    }

    &__sublist {
        @include unlist();

        display: grid;
        gap: rem(8px);
        margin-top: rem(8px);

        @include media-breakpoint-down(sm) {
            gap: 10px;
            margin-top: 10px;
        }
    }

    &__sublink {
        padding-left: rem(20px);
        position: relative;

        @include media-breakpoint-down(sm) {
            padding-left: 0;
        }

        &::before {
            content: '•';
            position: absolute;
            left: 0;
            top: 0;
            line-height: 1.2;

            @include media-breakpoint-down(sm) {
                content: none;
            }
        }
    }
}

.top-btn {
    &__toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: #fff;
        box-shadow: 0 20px 80px rgba(128 90 70 / 12%);
        position: fixed;
        right: 150px;
        bottom: 200px;
        transition: 350ms;
        z-index: 100;
        pointer-events: none;
        opacity: 0;

        @include media-breakpoint-down(xxl) {
            width: 50px;
            height: 50px;
            right: 20px;
            bottom: 90px;

            svg {
                width: 24px;
                height: 24px;
            }
        }

        svg path {
            transition: 350ms;
        }

        &:hover {
            background-color: $main;
            transition: 350ms;

            svg path {
                fill: #fff;
                transition: 350ms;
            }
        }

        &--visible {
            opacity: 1;
            pointer-events: all;
            transition: 350ms;
        }
    }
}
