.footer {
    &__topbar {
        border-top: 1px solid #DDD;
        border-bottom: 1px solid #DDD;
        padding: rem(42px 0);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    &__bottombar {
        padding: rem(16px 0);
        display: flex;
        align-items: center;
    }

    &__links {
        margin: auto
    }
}