.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
    background: $bodybg;
    border-bottom: 1px solid #E9E9E9;

    &__wrap {
        display: flex;
        align-items: center;
        width: calc(100% - 200px);
        margin: auto;
        padding: rem(14px 0);

        @include media-breakpoint-down(xxl) {
            width: calc(100% - 24px);
        }

        @include media-breakpoint-down(lg) {
            width: calc(100% - 20px);
        }
    }

    &__toggler {
        display: flex;
        align-items: center;
        gap: rem(14px);
        font-size: rem(20px);
        font-weight: 600;
        margin-right: rem(68px);
        position: relative;
        z-index: 100;

        @include media-breakpoint-down(lg) {
            margin-right: 0;
        }

        &-icon {
            width: 20px;
            display: grid;
            gap: rem(4px);
            transform: translateY(-2px);

            span {
                display: block;
                background-color: $dark;
                height: 2px;
                border-radius: 20px;
                width: 100%;
                transition: 350ms;

                @include media-breakpoint-down(lg) {
                    height: 3px;
                }

                &:nth-of-type(2) {
                    width: 50%;
                }

                &:nth-of-type(3) {
                    width: 90%;
                }
            }
        }

        &-text {
            @include media-breakpoint-down(md) {
                display: none;
            }
        }

        &--active {
            .header__toggler-icon {
                span {
                    transition: 350ms;

                    &:nth-of-type(1) {
                        transform: rotate(45deg) translate(5px, 4px);
                    }

                    &:nth-of-type(2) {
                        opacity: 0;
                    }

                    &:nth-of-type(3) {
                        transform: rotate(-45deg) translate(4.5px, -3.5px);
                        width: 100%;
                    }
                }
            }
        }
    }

    &__catalogue-link {
        color: $main;
        font-size: rem(20px);
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: rem(14px);
        text-decoration: none;

        &:hover {
            color: $main;
        }

        @include media-breakpoint-down(lg) {
            display: none;
        }
    }

    &__logo {
        margin: auto;
        width: 175px;

        img {
            width: 100%;
        }

        @include media-breakpoint-down(xxl) {
            width: 100px;
        }

        @include media-breakpoint-down(lg) {
            width: 80px;
            position: relative;
            z-index: 10;
        }
    }

    &__tel {
        color: #000;
        font-size: rem(18px);
        font-weight: 500;
        text-decoration: none;
        margin-left: rem(40px);

        @include media-breakpoint-down(lg) {
            font-size: 0;
            position: relative;
            width: 20px;
            height: 20px;

            &::before {
                content: '';
                background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_523_1048)'%3E%3Cpath d='M17.5854 13.4994L15.199 11.113C14.3468 10.2608 12.8979 10.6017 12.557 11.7096C12.3013 12.4767 11.449 12.9028 10.682 12.7323C8.97745 12.3062 6.67632 10.0903 6.25019 8.30054C5.99451 7.53346 6.50587 6.68119 7.27291 6.42554C8.38086 6.08463 8.72177 4.63578 7.8695 3.78351L5.48315 1.39715C4.80133 0.80056 3.77861 0.80056 3.18202 1.39715L1.5627 3.01646C-0.0566102 4.721 1.73316 9.23803 5.73883 13.2437C9.7445 17.2494 14.2615 19.1244 15.9661 17.4198L17.5854 15.8005C18.182 15.1187 18.182 14.096 17.5854 13.4994Z' stroke='black' stroke-width='2'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_523_1048'%3E%3Crect width='19' height='19' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                width: 20px;
                height: 20px;
                position: absolute;
                display: block;
                left: 0;
                top: 0;
            }
        }

        span {
            font-weight: 600;
            font-size: rem(24px);

            @include media-breakpoint-down(lg) {
                font-size: 0;
            }
        }
    }

    &__header-menu {
        width: 100%;
        height: 100dvh;
        background-color: #fff;
        position: absolute;
        inset: 0;
        display: none;
        transition: 500ms;
        justify-content: center;
        padding-top: rem(120px);

        @media (max-width: 375px) {
            padding-top: rem(82px);
        }

        &::before,
        &::after {
            content: '';
            background-image: url('@/assets/img/menu_deco.jpg?as=webp');
            background-repeat: no-repeat;
            background-size: contain;
            width: 450px;
            height: 450px;
            position: absolute;

            @media (max-width: 1700px) {
                width: 300px;
                height: 300px;
            }

            @include media-breakpoint-down(xl) {
                width: 200px;
                height: 200px;
            }

            @include media-breakpoint-down(md) {
                width: 150px;
                height: 150px;
            }

            @media (max-width: 375px) {
                width: 100px;
                height: 100px;
            }
        }

        &::after {
            right: -100px;
            top: -60px;

            @include media-breakpoint-down(lg) {
                display: none;
            }
        }

        &::before {
            left: -225px;
            bottom: -230px;

            @media (max-width: 1700px) {
                left: -150px;
                bottom: -150px;
            }

            @include media-breakpoint-down(xl) {
                left: -100px;
                bottom: -100px;
            }

            @include media-breakpoint-down(lg) {
                left: -60px;
                bottom: 5vh;
            }

            @media (max-width: 375px) {
                left: -30px;
            }
        }
    }

    &__socials {
        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    &--fixed {
        position: fixed;
        background: #fff;
        box-shadow: 0 6px 30px rgba(194 173 162 / 10%);

        .header__logo {
            width: 120px;

            @include media-breakpoint-down(md) {
                width: 80px;
            }
        }

        .header__tel {
            font-size: rem(16px);

            @include media-breakpoint-down(lg) {
                font-size: 0;
            }

            span {
                font-size: rem(22px);

                @include media-breakpoint-down(lg) {
                    font-size: 0;
                }
            }
        }

        .header__toggler,
        .header__catalogue-link {
            font-size: rem(18px);
        }
    }

    &--slide-in {
        animation: slide-in 300ms linear;
        animation-fill-mode: forwards;
    }

    &--slide-out {
        animation: slide-out 300ms linear;
        animation-fill-mode: forwards;
    }
}

.header-menu {
    &__wrap {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;

        @include media-breakpoint-down(lg) {
            display: block;
        }

        @media (max-width: 375px) {
            width: 90%;
        }

        &::before {
            content: '';
            background-image: url('@/assets/img/logotext.svg');
            width: 405px;
            height: 220px;
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            left: 0;
            bottom: 150px;

            @include media-breakpoint-down(xxl) {
                width: 350px;
                height: 150px;
                bottom: 100px;
            }

            @media (max-height: 600px) {
                display: none;
            }

            @include media-breakpoint-down(lg) {
                display: none;
            }
        }
    }

    &__list {
        @include unlist();

        display: grid;
        gap: rem(40px);

        @include media-breakpoint-down(lg) {
            gap: rem(16px);
            margin-bottom: rem(14px);
        }

        @media (max-width: 375px) {
            gap: rem(8px);
        }
    }

    &__link {
        font-size: rem(40px);
        font-weight: 600;
        font-family: Cormorant, sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        display: flex;
        align-items: baseline;
        gap: rem(14px);

        @include media-breakpoint-down(lg) {
            font-size: rem(28px);
        }

        @media (max-width: 375px) {
            font-size: rem(20px);
        }

        span {
            font-size: rem(14px);
            color: #767676;
            font-family: Gilroy, serif;
            font-weight: 400;
        }
    }

    &__sub {
        &list {
            @include unlist();

            display: flex;
            flex-wrap: wrap;
            gap: rem(12px 16px);
            max-width: 450px;
            margin-top: rem(24px);
            padding-left: rem(30px);
        }

        &link {
            font-weight: 600;
            font-size: rem(22px);
            padding-left: rem(22px);
            font-family: Cormorant, sans-serif;
            text-decoration: none;
            position: relative;

            &::before {
                content: '';
                background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='12.6795' y='7.89941' width='7' height='7' transform='rotate(135 12.6795 7.89941)' stroke='%23CB9274' stroke-width='3'/%3E%3C/svg%3E%0A");
                position: absolute;
                width: 15px;
                height: 15px;
                background-size: contain;
                left: 0;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }
    }

    &__contacts {
        position: absolute;
        padding-right: rem(56px);
        padding-bottom: rem(56px);
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        right: 0;
        bottom: 20vh;
        text-align: right;

        @include media-breakpoint-down(lg) {
            bottom: 32px;
            border: none;
            padding: 0;
        }

        &::before {
            content: '';
            background-image: url("@/assets/img/thankyoutext.svg");
            left: -350px;
            bottom: -60px;
            width: 330px;
            height: 150px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;

            @include media-breakpoint-down(xl) {
                width: 280px;
                height: 120px;
                left: -300px;
            }

            @include media-breakpoint-down(lg) {
                display: none;
            }
        }

        &::after {
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='3.53553' y='12.6797' width='11.5219' height='11.5219' transform='rotate(-45 3.53553 12.6797)' stroke='%23DDD' stroke-width='5'/%3E%3C/svg%3E%0A");
            width: 60px;
            height: 60px;
            background-size: 25px 25px;
            background-repeat: no-repeat;
            background-position: center;
            background-color: $bodybg;
            position: absolute;
            z-index: 10;
            right: -30px;
            bottom: -30px;

            @include media-breakpoint-down(lg) {
                display: none;
            }
        }
    }

    &__tel {
        font-weight: 500;
        font-size: rem(24px);
        margin-bottom: rem(8px);
        text-decoration: none;
        display: block;

        @media (max-width: 375px) {
            font-size: 14px;
        }
    }

    &__email {
        font-size: rem(24px);
        color: #cb9274;
        display: block;

        @media (max-width: 375px) {
            font-size: 14px;
        }
    }

    &__socials {
        margin-top: rem(52px);

        @include media-breakpoint-down(lg) {
            margin-top: rem(24px);
        }

        .socials__list {
            justify-content: flex-end;
            gap: rem(30px);
        }

        .socials__link {
            g {
                opacity: 1;
            }

            svg {
                width: auto;
                height: 30px;

                @include media-breakpoint-down(lg) {
                    height: 14px;
                }
            }
        }
    }

    &__address {
        position: absolute;
        right: 0;
        bottom: -100px;

        @include media-breakpoint-down(lg) {
            position: static;
            margin-top: rem(24px);
        }

        @media (max-width: 375px) {
            display: none;
        }
    }
}

@keyframes slide-in {
    from {
        opacity: 0;
        top: -60px;
    }

    to {
        opacity: 1;
        top: 0;
    }
}

@keyframes slide-out {
    from {
        opacity: 1;
        top: 0;
    }

    to {
        opacity: 0;
        top: -60px;
    }
}
